# Handle Jupyter notebooks with nbstripout to remove output and metadata
*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb

/main.ipynb -filter -diff

# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
