# Environments
.env
*venv*
env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Tmp datasets
*dataset*
temp*
.tmp
*.nc

# VSCode
*.vscode

# Cache
.pytest_cache/
.DS_Store
__pycache__/
.ipynb_checkpoints/

# Misc
.github/*
!.github/workflows/
.databricks
*databricks.yml
.databricks

# Logs
logs/
.runtime_logs/